.fundo{
   
   
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("IMG/FUNDO.jpg");
    
    
}

.corpo{

    
   padding-left: 15px;
   padding-right: 15px;
   width: 70%;
   background-color: rgb(81, 81, 83);
   
}

.header{
    background-color: aqua;
    width: 100%;
    position: sticky;
    top: 0;
    left: 50;
    z-index: 1000;
}

.resumo{
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 30px;
}

.banner{
    height: 400px;
    border: 5px solid black;
    border-radius: 10%;
    transition: transform 0.25s ease, box-shadow 0.3s ease;
}

.banner:hover {
    transform: scale(1.08);
    box-shadow: 4px 4px 8px black(0, 0, 0, 0.6);
}

.linha1{
    border-bottom: 2px solid black;
 
}

.tituloresumo{
    text-align: center;
    font-size: 35px;
    margin-bottom: 0;
}
.titulo{
    text-align: center;
    font-size: 50px;
}

.soluco{
    width: 100px;
}
.atrid{
    width: 100px;
}
.cabecaq{
    width: 100px;
}
.cabecad{
    width: 100px;
}
.melequento{
    width: 100px;
}
.pernadp{
    width: 100px;
}
.valka{
    width: 100px;
}
.stoico{
    width: 100px;
}
.bocao{
    width: 100px;
}

.personagens{
    display: flex;
    margin-right: 40px;
    padding-left: 5px;
   
}
.titulop{
    font-size: 35px;
    text-align: center;
}
.imagens{
    display: flex;
    flex-direction: column;

}





