.fundo{
   
   
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("IMG/FUNDINHO.jpg");
    
    
}

.corpo{

    
   padding-left: 15px;
   padding-right: 15px;
   width: 70%;
   background-color: #69757e;

   
}

.header{
    background-color: aqua;
    width: 100%;
    position: sticky;
    top: 0;
    left: 50;
    z-index: 1000;
}

.resumo{
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.banner{
    height: 400px;
    border: 5px solid black;
    border-radius: 10%;
    transition: transform 0.25s ease, box-shadow 0.3s ease;
}

.banner:hover {
    transform: scale(1.08);
    box-shadow: 4px 4px 8px black(0, 0, 0, 0.6);
}

.linha1{
    border-bottom: 2px solid black;
 
}

.tituloresumo{
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
    font-family: MedievalSharp, sans-serif;
}
.titulo{
    text-align: center;
    font-size: 50px;
    font-family: MedievalSharp, sans-serif;
}

#soluco{
    width: 200px;
    border: 4px solid black;
    margin: 20px;
    border-radius: 10%;
    transition: transform 0.25s ease, box-shadow 0.3s ease;
}
#soluco:hover {
    transform: scale(1.08);
    box-shadow: 4px 4px 8px black(0, 0, 0, 0.6);
}

#astrid{
    width: 200px;
    border: 4px solid black;
    margin: 20px;
    border-radius: 10%;
    transition: transform 0.25s ease, box-shadow 0.3s ease;
}
#astrid:hover {
    transform: scale(1.08);
    box-shadow: 4px 4px 8px black(0, 0, 0, 0.6);
}

#cabecaq{
    width: 200px;
    border: 4px solid black;
    margin: 20px;
    border-radius: 10%;
    transition: transform 0.25s ease, box-shadow 0.3s ease;
}
#cabecaq:hover {
    transform: scale(1.08);
    box-shadow: 4px 4px 8px black(0, 0, 0, 0.6);
}

#melequento{
    width: 200px;
    border: 4px solid black;
    margin: 20px;
    border-radius: 10%;
    transition: transform 0.25s ease, box-shadow 0.3s ease;
}
#melequento:hover {
    transform: scale(1.08);
    box-shadow: 4px 4px 8px black(0, 0, 0, 0.6);
}

#pernadp{
    width: 200px;
    border: 4px solid black;
    margin: 20px;
    border-radius: 10%;
    transition: transform 0.25s ease, box-shadow 0.3s ease;
}
#pernadp:hover {
    transform: scale(1.08);
    box-shadow: 4px 4px 8px black(0, 0, 0, 0.6);
}

#valka{
    width: 200px;
    border: 4px solid black;
    margin: 20px;
    border-radius: 10%;
    transition: transform 0.25s ease, box-shadow 0.3s ease;
}
.valka:hover {
    transform: scale(1.08);
    box-shadow: 4px 4px 8px black(0, 0, 0, 0.6);
}

#stoico{
    width: 200px;
    border: 4px solid black;
    margin: 20px;
    border-radius: 10%;
    transition: transform 0.25s ease, box-shadow 0.3s ease;
}
#stoico:hover {
    transform: scale(1.08);
    box-shadow: 4px 4px 8px black(0, 0, 0, 0.6);
}

#bocao{
    width: 200px;
    border: 4px solid black;
    margin: 20px;
    border-radius: 10%;
    transition: transform 0.25s ease, box-shadow 0.3s ease;
}
#bocao:hover {
    transform: scale(1.08);
    box-shadow: 4px 4px 8px black(0, 0, 0, 0.6);
}

#eret{
    width: 200px;
    border: 4px solid black;
    margin: 20px;
    border-radius: 10%;
    transition: transform 0.25s ease, box-shadow 0.3s ease;
}
#eret:hover {
    transform: scale(1.08);
    box-shadow: 4px 4px 8px black(0, 0, 0, 0.6);
}

.personagens{
    display: flex;
    align-items: center;
    
   
}
.titulop{
    font-size: 40px;
    text-align: center;
    font-family: MedievalSharp, sans-serif;
}
.imagens{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;

}

.h3{
    font-size: 35px;
    font-family: MedievalSharp, sans-serif;
    text-align: center;
}
p{
    font-family: "Cormorant Unicase", serif;
    font-weight: 500;
}
.Resumo{
    font-size: 30px;
}

.Soluço{
    display: flex;
}
.Astrid{
display: flex;
}
.Cabeça{
display: flex;
}
.Melequento{
display: flex;
}
.Perna{
display: flex;
}
.Valka{
display: flex;
}
.Stoico{
display: flex;
}
.Bocão{
display: flex;
}
.Eret{
display: flex;
}

#textosoluco{
font-size: 25px;

}
#textoastrid{
font-size: 25px;

}
#textocabeca{
font-size: 25px;

}
#textomelequento{
font-size: 25px;

}
#textopernadp{
font-size: 25px;

}
#textovalka{
font-size: 25px;

}
#textostoico{
font-size: 25px;

}
#textobocao{
font-size: 25px;

}
#textoeret{
font-size: 25px;

}

.h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
    font-family: MedievalSharp, sans-serif;
    
}



